.image {
    width: 24px;
    height: 24px;

    margin: 20px 4px;
    float: left;
}

.image:hover {
    width: 32px;
    height: 32px;

    margin: 16px 0px;
    float: left;
    cursor: pointer;
}

a {
    display: block;
}

.flexContainer{
    width: 64px;
    height: 64px;
    display: flex;
    justify-content: center;
}
