<div class="dialogContent">
  <div id="dialogBox">
    <div class="dialogHeader">
      Check out my resume
    </div>
    <div class="dialogSubheader">
      Resume
    </div>
    <div class="loader">
      <loader ></loader>
    </div>

    <div class="dialogDescription">
      <div class="dialogPart">
        <div class="resumeHeader">
          <div class="resumeTextHeader">
            Experience
          </div>
          <div class="resumeContentBox">
            <div class="resumeContentHeader"> 
              Software Developer / Engineer     
            </div>
            <div class="resumeContentTimeline">
              Siemens AG | 2020 - now
            </div>
            <div class="resumeContentDescriptionCount">
              Development of DevOps-Pipelines to automatically install new software releases and afterwards execute configured NUnit-tests 
            </div>
            <div class="resumeContentDescriptionCount">
              Development of a website which displays all available hardware, which can be modified and resvered by the user
            </div>
            <div class="resumeContentDescriptionCount">
              Execution and development of NUnit-tests for the TIA-Portal
            </div>
          </div> 
          <div class="resumeContentBox">
            <div class="resumeContentHeader"> 
              Development of a roster website 
            </div>
            <div class="resumeContentTimeline">
              Volunteering | 2020 - now
            </div>
            <div class="resumeContentDescription">
              Development of a website for our first responder, which enables our members to select their preferred shift in order to maximize the time coverage
            </div>
          </div>                 
        </div>
      </div>
      <div class="dialogPart">
        <div class="resumeHeader">
          <div class="resumeTextHeader">
            Education
          </div>
          <div class="resumeContentBox">
            <div class="resumeContentHeader">                     
              ISQTB Certified Tester FL Extension – Agile Tester
            </div>
            <div class="resumeContentTimeline">
              Siemens AG | 2021
            </div>
          </div> 
          <div class="resumeContentBox">
            <div class="resumeContentHeader">           
              Professional Scrum Master I
            </div>
            <div class="resumeContentTimeline">
              scrum.org | 2021
            </div>
          </div> 
          <div class="resumeContentBox">
            <div class="resumeContentHeader"> 
              Associate Engineer Information Technology 
            </div>
            <div class="resumeContentTimeline">
              Siemens Profession Education Erlangen | 2017 - 2020   
            </div>
            <div class="resumeContentDescription">
              Information technology degree with specialization in development, testing and maintenance of software
            </div>
          </div> 
          <div class="resumeContentBox">
            <div class="resumeContentHeader"> 
              High-School Diploma 
            </div>
            <div class="resumeContentTimeline">
              Platen-Gymnasium Ansbach | 2008 - 2016
            </div>
          </div> 
        </div>
      </div>
      <div class="dialogSkills">
        <div class="resumeTextHeader">
          Skills
        </div>
        <div class="resumeHeader">
          <skills></skills>
        </div>
      </div>
    </div>
  </div>
</div>
