<div id="main">
    <navbar></navbar>
    <div class="container">
        <div class="info-container">
            <div class="name-container">
                <div class="name">
                    David 
                </div>
                <div class="name">
                    Fischer
                </div>
            </div>
            <div class="content">
                <div class="content-container">
                  <p class="content-container-text">
                    I'm a 
                  </p>
                  
                  <ul class="content-container-list">
                    <li class="content-container-list-item">Developer</li>
                    <li class="content-container-list-item">Engineer</li>
                    <li class="content-container-list-item">Designer</li>      
                    <li class="content-container-list-item">Scrum Master</li>            
                  </ul>
                </div>
              </div>
        </div>
    </div>
    
   
</div>
