main {
    color: white;
    position: absolute;
}
  
.container {
    background-size: cover;
    aspect-ratio: 18 / 9;
    left: 0;
    right: 0;
    margin: auto;
    top: 10px;
    bottom: 10px;

    border-radius: 6px;
    border: 4px solid black;
}

.visible {
    visibility: visible; 
    position: fixed;
}

.invisible {
    visibility: hidden; 
    position: static;
}

.image {
    position: absolute;
    bottom: 20px;
    left: 20px;
}

.emblem {
    position: absolute;
    top: 20px;
    right: 20px;
}

.centeredText{
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
}

.float{
    position: absolute;
    margin-left: 12px;
	top:40px;
	left:40px;
    height: 64px;
}

dialog[open] {
    width: 20em; 
    background: #ffffff; 
    border: 2px solid #222222;
    margin: 5em auto;
}

dialog:not([open]) {
    display: none;
}

dialog::backdrop { 
    background: rgba(202, 202, 202, 0.5) ;
}

.closeDialogButton{
   float: right;
}

.btn-borderless{
    color:rgba(202, 202, 202, 1);
    border: none;
    outline: none;
    background: none;
}

.btn-borderless:hover{
    cursor: pointer;
    color:rgba(0, 0, 0, 1);
}

.inputLabel{
    margin-block-end: 0.1em;
}

.input{
    width: 100%;
}