main {
    color: white;
    position: absolute;
}
  
.container {
    background-size: cover;
    aspect-ratio: 18 / 9;
    left: 0;
    right: 0;
    margin: auto;
    top: 10px;
    bottom: 10px;

    border-radius: 6px;
    border: 4px solid black;
}
.visible {
    visibility: visible; 
    position: fixed;
}

.invisible {
    visibility: hidden; 
    position: static;
}

.image {
    position: absolute;
    bottom: 20px;
    left: 20px;
}

.emblem {
    position: absolute;
    top: 20px;
    right: 20px;
}

.centeredText{
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
}

.float{
    position: absolute;
    margin-left: 12px;
	top:40px;
	left:40px;
    height: 64px;
}

