<div id="main" style=" scroll-behavior: smooth;">
  <div class="container" style="visibility: visible; position: fixed; background-image: url('assets/images/Background_1.png');  background-size: cover; "> 
    <h1 class="centeredText">Willkommen zu Davids Website</h1>
    <img class="image" src="assets\images\512-David_Normal-001.png" alt="David Normal" [attr.width]="figureWidth" [attr.height]="figureHeight">
  </div>
  <div class="container" style="visibility: visible; position: fixed; background-image: url('assets/images/Background_School.png'); background-size: cover; "> 
    <h1 class="centeredText">Schule</h1>
    <section startDate="09/2008" endDate="07/2016" description="Abitur" location="Platen-Gymnasium Ansbach"></section>
    <img class="image" src="assets\images\512-David_School-001.png" alt="David Normal" [attr.width]="figureWidth" [attr.height]="figureHeight">
  </div>
  <div class="container" style="visibility: visible; position: fixed; background-image: url('assets/images/Background_Siemens.png');  background-size: cover; "> 
    <h1 class="centeredText">Ausbildung</h1>
    <section startDate="09/2017" endDate="02/2020" description="Associate Engineer Information Technology inkl. Fachinformatiker 
    für Anwendungsentwicklung" location="Siemens AG"></section>
    <img class="image" src="assets\images\512-David_Siemens-001.png" alt="David Normal" [attr.width]="figureWidth" [attr.height]="figureHeight">
  </div>
  <div class="container" style="visibility: visible; position: fixed; background-image: url('assets/images/Background_SiemensWork.png');  background-size: cover; "> 
    <h1 class="centeredText">Beruflich Laufbahn</h1>
    <section startDate="02/2020" endDate="heute" description="Software Engineer" location="Siemens AG"></section>
    <img class="image" src="assets\images\512-David_Siemens-002.png" alt="David Normal" [attr.width]="figureWidth" [attr.height]="figureHeight">
  </div>
  <div class="container" style="visibility: visible; position: fixed; background-image: url('assets/images/Background_2.png');  background-size: cover; "> 
    <h1 class="centeredText">Lehrgänge</h1>
    <section startDate="11/2019" description="Sanitätsdienstausbildung" location="Bayerisches Rotes Kreuz"></section>
    <section startDate="05/2021" description="Professional Scrum Master I" location="scrum.org"></section>
    <section startDate="09/2021" description="ISQTB Certified Tester Foundation Level"></section>
    <section startDate="10/2021" description="ISQTB Certified Tester FL Extension – Agile Tester"></section>
    <img class="image" src="assets\images\512-David_Normal-001.png" alt="David Normal" [attr.width]="figureWidth" [attr.height]="figureHeight">
  </div>
  <div class="container"> 
    4
    <img class="image" src="assets\images\512-David_Normal-001.png" alt="David Normal" [attr.width]="figureWidth" [attr.height]="figureHeight">
  </div>
  <div class="container"> 
    5
    <img class="image" src="assets\images\512-David_Normal-001.png" alt="David Normal" [attr.width]="figureWidth" [attr.height]="figureHeight">
  </div>


</div>
<div class="float">
  <social></social>
 </div>
<router-outlet></router-outlet>
